@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4F7DF0, #3D93D9);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #45D7F8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4F7DF0;
    text-align: center;
    text-shadow: 1px 1px 2px #3756a5;
}

h2 {
    color: #192749c0;
}

p{
    color: rgb(41, 39, 39);
}